/* BUTTONS */

.ui-button {
  display: inline-block;
  position: relative;
  
  border: 1px solid transparent;
  margin: 0;
  padding: 0;
  background-repeat: repeat-x;
  background-position: 0 -1px;
  
  cursor: default;
  
  -moz-user-select: none;
  -webkit-user-select: none;
  
  /* Fixes extra padding issue in IE 6-7 */
  width: auto;
  overflow: visible;
}

/* One icon, no text */
.ui-button-icon-only {
  width: 24px;
}

/* Two icons, no text */
.ui-button-icons-only {
  width: 42px;
}

a.ui-button {
  text-decoration: none;
}

input.ui-button {
  padding: 0 10px;
}

.ui-button.ui-corner-all {

}

.ui-button.ui-corner-left {

}

.ui-button.ui-corner-right {

}


  /* default state */
  .ui-button.ui-state-default {
    background-color: #0099FF;
    border: 0 none;
    color: #FFFFFF;
    margin-top: 5px;
    padding: 4px;
    text-transform: uppercase;
    font-weight: normal;  
    margin-left:10px;    
  }

  /* hover state */
  .ui-button.ui-state-hover {

  }
  
  /* active state */
  .ui-button.ui-state-active {

  }
  
    .ui-button.ui-state-active.ui-state-hover {
   
    }

  
  /* priority: primary */
  .ui-button.ui-priority-primary {

  }
  
    .ui-button.ui-priority-primary.ui-state-hover {
    
    }
  
    
  /* down state */
  .ui-button.ui-state-down {

  }
  
    .ui-button.ui-priority-primary.ui-state-down {

    }
    
    .ui-button.ui-state-active.ui-state-down {

    }
  
  /* disabled state */
  .ui-button.ui-state-disabled,
  .ui-button.ui-state-disabled:active {
    background-color: #eeeeee;
    border: 0 none;
    color: #FFFFFF;
    font-size: 0.9em;
    margin-top: 5px;
    padding: 4px;
    text-transform: uppercase;
    font-weight: normal;  
    margin-left:10px;    
  }
  
  /* focus state */  
  .ui-button.ui-state-focus,
  .ui-button:active,
  .ui-button:focus {

  }
  

/* Button Text */

.ui-button-text {
  font-family: 'Lucida Sans', 'Lucida Grande', Verdana, sans-serif;
  display: block;

}

  .ui-button-text-only .ui-button-text {

  }
  
  .ui-button-icon-only .ui-button-text,
  .ui-button-icons-only .ui-button-text {
    text-indent: -9999999px;
  }
  
  .ui-button-text-icon .ui-button-text,
  .ui-button-text-icons .ui-button-text {
    padding-left: 25px;
  }
  
  .ui-button-text-icons .ui-button-text {
    padding-right: 25px;
  }
  
label.ui-button .ui-button-text,
a.ui-button .ui-button-text {
  padding: 5px 10px 1px;
}

  label.ui-button-text-icon .ui-button-text,
  label.ui-button-text-icons .ui-button-text,
  a.ui-button-text-icon .ui-button-text,
  a.ui-button-text-icons .ui-button-text {
    padding-left: 25px;
  }
  
  label.ui-button-text-icons .ui-button-text,
  a.ui-button-text-icons .ui-button-text {
    padding-right: 25px;
  }
  

/* Button Icons */

.ui-button-icon-only .ui-icon,
.ui-button-text-icon .ui-icon,
.ui-button-text-icons .ui-icon,
.ui-button-icons-only .ui-icon {
  position: absolute;
  top: 50%;
  margin-top: -8px;
}

  .ui-button-icon-only .ui-icon {
    left: 50%;
    margin-left: -8px;
  }
  
  .ui-button-text-icon .ui-button-icon-primary,
  .ui-button-text-icons .ui-button-icon-primary,
  .ui-button-icons-only .ui-button-icon-primary {
    left: 5px;
  }

  .ui-button-text-icons .ui-button-icon-secondary,
  .ui-button-icons-only .ui-button-icon-secondary {
    right: 5px;
  }
  


/* Button Set */

.ui-buttonset {
  
}

  .ui-buttonset .ui-button {
    
  }
  

/* 
 * Not wild about this, but using it until I figure out a browser 
 * targeting strategy.
 */
 
* html .ui-button {
  padding: 0 10px;
  height: 22px;
}

@-moz-document url-prefix() {
  
  input[type="text"]:focus,
  input[type="text"]:active {
    -moz-outline: 0px solid #000 !important;
  }

  .ui-button:focus::-moz-focus-inner {
    border-color: transparent !important;
  }
  
  /* fixing evil default firefox padding */
  .ui-button::-moz-focus-inner  {  
    padding: 0 !important;
    border-color: transparent !important;
  }
  
  button.ui-button,
  input.ui-button {
    height: 25px;
    max-height: 25px;
  }

  input.ui-button {
    padding: 0 10px 2px;
  }
  
  
  .ui-button-icon-only .ui-icon,
  .ui-button-text-icon .ui-icon,
  .ui-button-text-icons .ui-icon,
  .ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }
  
  button.ui-button-icon-only .ui-icon,
  button.ui-button-text-icon .ui-icon,
  button.ui-button-text-icons .ui-icon,
  button.ui-button-icons-only .ui-icon {
    position: absolute;
    top: 50%;
    margin-top: -8px;
  }

    button.ui-button-icon-only .ui-icon {
      left: 50%;
      margin-left: -9px;
    }
    
  button.ui-button-text-icon .ui-button-icon-primary,
  button.ui-button-text-icons .ui-button-icon-primary,
  button.ui-button-icons-only .ui-button-icon-primary {
    left: 2px;
  }

  button.ui-button-text-icons .ui-button-icon-secondary,
  button.ui-button-icons-only .ui-button-icon-secondary {
    right: 5px;
  }
  
  .ui-button .ui-button-text {

  }
  
  .ui-button-text-icon .ui-button-text,
  .ui-button-text-icons .ui-button-text {
    padding-left: 20px;
  }
  
  .ui-button-text-icons .ui-button-text {
    padding-right: 20px;
  }
  
  label.ui-button .ui-button-text,
  a.ui-button .ui-button-text {
    padding: 4px 10px 3px;
  }
  
  label.ui-button-text-icon .ui-button-text,
  label.ui-button-text-icons .ui-button-text,
  a.ui-button-text-icon .ui-button-text,
  a.ui-button-text-icons .ui-button-text {
    padding-left: 25px;
  }
  
  label.ui-button-text-icons .ui-button-text,
  a.ui-button-text-icons .ui-button-text {
    padding-right: 25px;
  }
  
  /*
  .ui-button {
    padding: 3px 10px 7px;
  }
  a.ui-button {
    padding: 3px 10px 5px;
  }
  */
}
