@CHARSET "UTF-8";

@import url("http://yui.yahooapis.com/3.3.0/build/cssreset/reset-min.css");
@import url("contents.css");

body {
  color: #1e1e1e;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.45em;
  padding:5px;
}

h1,
h2,
h3,
h4,
h5,
h6, 
p {
  margin: 0px 0px 10px 0px;
  line-height:1.35em;
}

h1 {
  font-size: 1.45em;  

}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;  
}

h5 {
  font-size: 1.1em; 
}

h6 {
  font-size: 1em;  
}