@CHARSET "UTF-8";

body {
  color: #1e1e1e;
  font-family: 'PT Sans', Arial, sans-serif;
  font-size: 0.875em;
  line-height: 1.45em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 20px 0px 10px 0px;
  line-height:1.35em;
}

p {
  margin: 10px 0px 10px 0px;
  line-height:1.35em;
}

h1 {
  font-size: 1.45em;  

}

h2 {
  font-size: 1.35em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1.15em;  
}

h5 {
  font-size: 1.1em; 
}

h6 {
  font-size: 1em;  
}

strong, b, strong *, b * {
  font-weight: bold;
}

em, i, em *, i * {
  font-style: italic;
}

ul, 
ol {
  margin:10px 0px 10px 25px;
}

li {
  list-style: inherit;
}

a {
  color: #0099ff;
  text-decoration: underline;
}