<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>edelphi</display-name>
  <description>eDelphi</description>
  <filter>
    <filter-name>LocaleFilter</filter-name>
    <filter-class>fi.internetix.edelphi.LocaleFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>LocaleFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>EncodingFilter</filter-name>
    <filter-class>fi.internetix.edelphi.EncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>EncodingFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>DebugFilter</filter-name>
    <filter-class>fi.internetix.edelphi.DebugFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>DebugFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>PrettyUrlFilter</filter-name>
    <filter-class>fi.internetix.edelphi.PrettyUrlFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>PrettyUrlFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <servlet>
    <servlet-name>dispatcher</servlet-name>
    <servlet-class>fi.internetix.edelphi.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>errorJspPage</param-name>
      <param-value>/jsp/pages/error.jsp</param-value>
    </init-param>
    <init-param>
      <param-name>loginUrlRelative</param-name>
      <param-value>true</param-value>
    </init-param>
    <init-param>
      <param-name>loginUrl</param-name>
      <param-value>login.page</param-value>
    </init-param>
    <init-param>
      <param-name>requestDispatcher</param-name>
      <param-value>fi.internetix.edelphi.PrettyUrlRequestDispatcher</param-value>
    </init-param>
    <init-param>
      <param-name>applicationPath</param-name>
      <param-value>/_app</param-value>
    </init-param>
    <init-param>
      <param-name>platformErrorListener</param-name>
      <param-value>fi.internetix.edelphi.PlatformErrorListener</param-value>
    </init-param>
    <init-param>
      <param-name>sessionSynchronization</param-name>
      <param-value>true</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>dispatcher</servlet-name>
    <url-pattern>/_app/*</url-pattern>
  </servlet-mapping>
  <listener>
    <listener-class>fi.internetix.edelphi.ServletContextListener</listener-class>
  </listener>
  <security-constraint>
    <web-resource-collection>
      <web-resource-name>secure</web-resource-name>
      <url-pattern>/*</url-pattern>
    </web-resource-collection>
    <user-data-constraint>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>